
<nav class="navbar navbar-expand-xl">
    <div class="container h-100">
        <a class="navbar-brand" href="index.html">
            <h1 class="tm-site-title mb-0">Product Manager</h1>
        </a>
        <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars tm-nav-icon"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto h-100">
                <li class="nav-item">
                    <a class="nav-link" href="/adminhome">
                        <i class="fas fa-tachometer-alt"></i>
                        Status of Orders
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/managerrefundview">
                        <i class="fas fa-shopping-cart"></i>
                        Refund orders
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/managerproductview">
                        <i class="fas fa-shopping-cart"></i>
                        Product Update
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/managercommentview">
                        <i class="fas fa-shopping-cart"></i>
                        Comments
                    </a>
                </li>

                <!-- <li class="nav-item">
                    <a class="nav-link" href="accounts.html">
                        <i class="far fa-user"></i>
                        Account Update
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="accounts.html">
                        <i class="far fa-user"></i>
                        Settings
                    </a>
                </li> -->
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-cog"></i>
                        <span>
                            Settings <i class="fas fa-angle-down"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">Billing</a>
                        <a class="dropdown-item" href="#">Customize</a>
                    </div>
                </li> -->
            </ul>
            <!-- <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link d-block" href="login.html">
                        Admin, <b>Logout</b>
                    </a>
                </li>
            </ul> -->
        </div>
    </div>

</nav>

  <body>
    
    <div class="container tm-mt-big tm-mb-big">
      <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12">
                <h2 class="tm-block-title d-inline-block">Edit Order</h2>
              </div>
            </div>
            <div class="row tm-edit-product-row">
              <div class="col-xl-6 col-lg-6 col-md-12">
                <form action="" method="post" class="tm-edit-product-form">
                  <div class="form-group mb-3">
                    <label
                      for="name"
                      >ORDER ID
                    </label>
                    <p>{{id}}</p>
                  </div>
                  <div class="form-group mb-3">
                    <label
                      for="name"
                      >TRANSACTION ID
                    </label>
                    <p>{{transactionid}}</p>
                  </div>
                  <div class="form-group mb-3">
                    <label
                      for="name"
                      >DATE ORDERED
                    </label>
                    <p>{{date}}</p>
                  </div>
                  <div class="form-group mb-3">
                    <label
                      for="name"
                      >STATUS
                    </label>
                    <p>{{status}}</p>
                  </div>
                
                  <div class="form-group mb-3">
                    <label
                      for="category"
                      >STATUS</label
                    >
                    <div class="form-group mb-3 col-xs-12 col-sm-6">
                      <label
                        for="status"
                        >Order Status
                      </label>
                      <input #stockval
                        id="status"
                        name="status"
                        type="text"
                        value="{{valuecat}}"
                        class="form-control validate"
                      />
                    </div>
                    <!-- <select
                      class="custom-select tm-select-accounts"
                      id="category"
                    >
                      <option selected>Select Status</option>
                      <option value="1">Not Completed</option>
                      <option value="2">In transit</option>
                      <option value="3">Completed</option>
                    </select> -->
                  </div>
              <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
              </div>
              <div class="col-12">
                <button type="submit" (click) = 'updateStatus(stockval.value)' class="btn btn-primary btn-block text-uppercase">Update Now</button>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>


