
<!-- <!DOCTYPE html> -->
<!-- <html lang="en"> -->

<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Admin - Dashboard HTML Template</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <!-- https://fonts.google.com/specimen/Roboto -->
    <!-- <link rel="stylesheet" href="css/fontawesome.min.css"> -->
    <!-- https://fontawesome.com/ -->
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <!-- https://getbootstrap.com/ -->
    <!-- <link rel="stylesheet" href="css/templatemo-style.css"> -->
    <!--
	Product Admin CSS Template
	https://templatemo.com/tm-524-product-admin
	-->
<!-- </head> -->

<body id="reportsPage">
    <div class="" id="home">
        <nav class="navbar navbar-expand-xl">
            <div class="container h-100">
                <a class="navbar-brand" href="index.html">
                    <h1 class="tm-site-title mb-0">Product Manager</h1>
                </a>
                <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars tm-nav-icon"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto h-100">
                        <li class="nav-item">
                            <a class="nav-link" href="/adminhome">
                                <i class="fas fa-tachometer-alt"></i>
                                Status of Orders
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/managerrefundview">
                                <i class="fas fa-shopping-cart"></i>
                                Refund orders
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/managerproductview">
                                <i class="fas fa-shopping-cart"></i>
                                Product Update
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/managercommentview">
                                <i class="fas fa-shopping-cart"></i>
                                Comments
                            </a>
                        </li>

                        <!-- <li class="nav-item">
                            <a class="nav-link" href="accounts.html">
                                <i class="far fa-user"></i>
                                Account Update
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="accounts.html">
                                <i class="far fa-user"></i>
                                Settings
                            </a>
                        </li> -->
                        <!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-cog"></i>
                                <span>
                                    Settings <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Profile</a>
                                <a class="dropdown-item" href="#">Billing</a>
                                <a class="dropdown-item" href="#">Customize</a>
                            </div>
                        </li> -->
                    </ul>
                    <!-- <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link d-block" href="login.html">
                                Admin, <b>Logout</b>
                            </a>
                        </li>
                    </ul> -->
                </div>
            </div>

        </nav>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="text-white mt-5 mb-5">Welcome back, <b>Admin</b></p>
                </div>
            </div>
            <!-- row -->
            <div class="row tm-content-row">
                <!-- <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block">
                        <h2 class="tm-block-title">Latest Hits</h2>
                        <canvas id="lineChart"></canvas>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block">
                        <h2 class="tm-block-title">Performance</h2>
                        <canvas id="barChart"></canvas>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller">
                        <h2 class="tm-block-title">Storage Information</h2>
                        <div id="pieChartContainer">
                            <canvas id="pieChart" class="chartjs-render-monitor" width="200" height="200"></canvas>
                        </div>                        
                    </div>
                </div> -->
                <div class="col-12 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                        <h2 class="tm-block-title">Comment List</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">COMMENT NO.</th>
                                    <th scope="col">STATUS</th>
                                    <th scope="col">CUSTOMER</th>
                                    <!-- <th scope="col">LOCATION</th> -->
                                    <!-- <th scope="col">DISTANCE</th> -->
                                    <th scope="col">START DATE</th>
                                    <th scope="col">INTERACT</th>
                                </tr>
                            </thead>
                            <tbody>

                                    <tr *ngFor="let hero of comments">
                                        <th scope="row"><b>{{hero.id}}</b></th>
                                        <td>
                                            <div class="tm-status-circle moving">
                                            </div>{{hero.approval_status}}
                                        </td>
                                        <td><b>{{hero.stars}}</b></td>
                                        <!-- <td><b>London, UK</b></td>
                                        <td><b>485 km</b></td> -->
                                        <td>{{hero.comment}}</td>
                                        <td><button class='buttonn' (click)='directTo(hero)'>Change</button></td>
                                    </tr>
                                    <!-- <div class="card d-flex flex-column align-items-center">
                                        <div class="product-name text-center">{{hero.name}}</div>
                                        <div class="card-img"> <img src="{{hero.image}}" alt=""> </div>
                                        <br>
                                        <div class="text-muted text-center mt-auto">{{hero.description}}</div>
                                        <div class="card-body pt-5">
                                            <div class="d-flex align-items-center justify-content-center price">
                                                <div class="font-weight-bold">{{hero.price}} TL</div>
                                            </div>
                                        </div>
                                    </div> -->
                                <tr>
                                    <th scope="row"><b>#122350</b></th>
                                    <td>
                                        <div class="tm-status-circle moving">
                                        </div>Moving
                                    </td>
                                    <td><b>Oliver Trag</b></td>
                                    <!-- <td><b>London, UK</b></td>
                                    <td><b>485 km</b></td> -->
                                    <td>16:00, 12 NOV 2018</td>
                                    <td><button class='buttonn'>Change</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- <footer class="tm-footer row tm-mt-small">
            <div class="col-12 font-weight-light">
                <p class="text-center text-white mb-0 px-4 small">
                    Copyright &copy; <b>2018</b> All rights reserved. 
                    
                    Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
                </p>
            </div>
        </footer> -->
    </div>

</body>

<!-- </html> -->
