<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
<div class="super_container">
    <!-- Header -->
    <header class="header">
        <!-- Top Bar -->
        <div class="top_bar">
            <div class="container">
                <div class="row">
                    <div class="col d-flex flex-row">
                        <div class="top_bar_content ml-auto">
                            <div class="top_bar_menu">
                                <ng-container *ngIf="!login">

                                    <ul class="standard_dropdown top_bar_dropdown">
                                    <div class="user_icon"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918647/user.svg" alt=""></div>
                                        <li > <a>Login<i class="fas fa-chevron-down"></i></a>
                                            <ul>
                                                <li><a routerLink = "/register" routerLinkActive="activebutton">Sign up</a></li>
                                                <li><a routerLink = "/login" routerLinkActive="activebutton">Sign in</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </ng-container>

                                <ng-container *ngIf="login">
                                    <ng-container *ngIf="customer == null">
                                    <ul class="standard_dropdown top_bar_dropdown">
                                    <div class="user_icon"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918647/user.svg" alt=""></div>
                                    <li > <a>{{ username!}}<i class="fas fa-chevron-down"></i></a>
                                        <ul>
                                            <li><a routerLink = "/adminhome" routerLinkActive="activebutton">adminhome</a></li>
                                            <li><a routerLink = "/profile" routerLinkActive="activebutton">Profile</a></li>
                                            <li><a routerLink = "/home" (click)="logout()">Log out</a></li>
                                        </ul>
                                    </li>
                                    </ul>
                                    <!-- <ul class="standard_dropdown top_bar_dropdown">
                                    <div class="user_icon"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918647/user.svg" alt=""></div>
                                    <strong><a routerLink = "/profile" routerLinkActive="activebutton">{{ username!}}</a></strong>
                                    </ul> -->
                                    </ng-container>
                                    <ng-container *ngIf="customer != null">
                                        <ul class="standard_dropdown top_bar_dropdown">
                                        <div class="user_icon"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918647/user.svg" alt=""></div>
                                        <li > <a>{{ username!}}<i class="fas fa-chevron-down"></i></a>
                                            <ul>
                                                
                                                <li><a routerLink = "/profile" routerLinkActive="activebutton">Profile</a></li>
                                                <li><a routerLink = "/home" (click)="logout()">Log out</a></li>
                                            </ul>
                                        </li>
                                        </ul>
                                        <!-- <ul class="standard_dropdown top_bar_dropdown">
                                        <div class="user_icon"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918647/user.svg" alt=""></div>
                                        <strong><a routerLink = "/profile" routerLinkActive="activebutton">{{ username!}}</a></strong>
                                        </ul> -->
                                        </ng-container>
                                </ng-container>

                            </div>
                            <!--
                            <div class="top_bar_user">
                                <div class="user_icon"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918647/user.svg" alt=""></div>
                                <div><a href="#">Register</a></div>
                                <div><a href="#">Sign in</a></div>
                            </div>
                            -->
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- Header Main -->
        <br>
        <div class="header_main">
            <div class="container">
                <div class="row">
                    <!-- Logo -->
                    <div class="col-lg-2 col-sm-3 col-3 order-1">
                        <div class="logo_container">
                            <div class="logo"><a routerLink = "/home" routerLinkActive="activebutton">TechScape</a></div>
                        </div>
                    </div> <!-- Search -->
                    <div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
                        <div class="header_search">
                            <div class="header_search_content">
                                <div class="header_search_form_container">
                                    <form action="#" class="header_search_form clearfix"><input  #searchBox id="search-box" type="search" required="required" class="header_search_input" (input)="search(searchBox.value)" (keydown.enter)= 'searchButton(searchBox.value)' placeholder="Search for products..." />
                                    <!--  <form action="#" class="header_search_form clearfix"> <input #searchBox  id="search-box" type="search" required="required" class="header_search_input" placeholder="Search for products...">-->
                                        <!-- <div class="custom_dropdown" style="display: none;">
                                            <div class="custom_dropdown_list"> <span class="custom_dropdown_placeholder clc">All Categories</span> <i class="fas fa-chevron-down"></i>
                                                <ul class="custom_list clc">
                                                    <li><a class="clc" href="#">All Categories</a></li>
                                                    <li><a class="clc" href="#">Computers</a></li>
                                                    <li><a class="clc" href="#">Laptops</a></li>
                                                    <li><a class="clc" href="#">Cameras</a></li>
                                                    <li><a class="clc" href="#">Hardware</a></li>
                                                    <li><a class="clc" href="#">Smartphones</a></li>
                                                </ul>
                                            </div>
                                        </div>Search -->
                                         <button type="submit" class="header_search_button trans_300" value="Submit"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918770/search.png" alt="" (click)= 'searchButton(searchBox.value)'></button>
                                    </form>
                                    <ul class="search-result">
                                        <li *ngFor="let hero of heroes$ | async" >
                                          <a routerLink="/detail/{{hero.id}}">
                                            {{hero.name}}
                                          </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>  <!-- Cart and can be wishlist-->
                    <div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
                        <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
                            <div class="cart">
                                <div class="cart_container d-flex flex-row align-items-center justify-content-end">
                                    <div class="cart_icon"> <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918704/cart.png" alt="">
                                        <div class="cart_count"><span>{{itemInCart}}</span></div>
                                    </div>
                                    <div class="cart_content">
                                        <div class="cart_text"><a href="/cart">Cart</a></div>
                                        <div class="cart_price">{{sumprice}} 
                                            &#36;</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- Main Navigation -->
        <nav class="main_nav">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="main_nav_content d-flex flex-row">
                            <!-- Categories Menu -->
                            <!-- Main Nav Menu -->
                            <div class="main_nav_menu">
                                <ul class="standard_dropdown main_nav_dropdown">
                                    <li><a routerLink = "/home" routerLinkActive="activebutton">Home<i class="fas fa-chevron-down"></i></a></li>
                                    <li class="hassubs"> <a href="/category/mobile">Mobile<i class="fas fa-chevron-down"></i></a>
                                        <ul>
                                            <li> <a href="/category/phones">Phones<i class="fas fa-chevron-down"></i></a>

                                            </li>
                                            <li><a href="/category/watches">Watches<i class="fas fa-chevron-down"></i></a>
                                                <!-- <ul>
                                                    <li><a routerLink = "/home" routerLinkActive="activebutton">Model X<i class="fas fa-chevron-down"></i></a></li>
                                                    <li><a routerLink ="/heroes" routerLinkActive="activebutton">Model y<i class="fas fa-chevron-down"></i></a></li>
                                                    <li><a href="#">Model z<i class="fas fa-chevron-down"></i></a></li>
                                                </ul> -->
                                            </li>
                                            <li><a href="/category/tablets">Tablets<i class="fas fa-chevron-down"></i></a>

                                            </li>
                                            <li><a href="/category/cameras">Cameras<i class="fas fa-chevron-down"></i></a>

                                            </li>
                                        </ul>
                                    </li>
                                    <li class="hassubs"> <a href='/category/gaming'>Gaming<i class="fas fa-chevron-down"></i></a>
                                        <!-- <ul>
                                            <li> <a href = '/category/computersAccessories'>Computer Accessories<i class="fas fa-chevron-down"></i></a>
                                                <ul>
                                                    <li><a href="#">Cables & Adapters<i class="fas fa-chevron-down"></i></a></li>
                                                    <li><a href="#">Mouses & Keyboards<i class="fas fa-chevron-down"></i></a></li>
                                                    <li><a href="#">Cases & Bags<i class="fas fa-chevron-down"></i></a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Tablet Accessories<i class="fas fa-chevron-down"></i></a></li>
                                            <li><a href="#">Smartphone Accessories<i class="fas fa-chevron-down"></i></a></li>
                                        </ul> -->
                                    </li>
                                    <li class="hassubs"> <a href="/category/computer">Computers<i class="fas fa-chevron-down"></i></a>
                                    </li>
                                    <li class="hassubs"> <a href="/category/tvs">Televisions<i class="fas fa-chevron-down"></i></a>
                                        <ul>
                                            <li><a href="/category/monitor">Monitors<i class="fas fa-chevron-down"></i></a>

                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href = "https://www.sabanciuniv.edu/tr/bilgisayar-bilimi-ve-muhendisligi-lisans" routerLinkActive="activebutton">About Us<i class="fas fa-chevron-down"></i></a></li></ul>
                            </div> <!-- Menu Trigger -->
                            <div class="menu_trigger_container ml-auto">
                                <div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
                                    <div class="menu_burger">
                                        <div class="menu_trigger_text">menu</div>
                                        <div class="cat_burger menu_burger_inner"><span></span><span></span><span></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav> 
    </header>
    <div style="height: 265px"> </div>
</div>
  <!--
  <div class= "container">
    <a href="#" class= "logo">Our Project</a>
    <nav>
      <ul>
        <li><a routerLink = "/register" routerLinkActive="activebutton" class= "logo">Register</a></li>
        <li><a routerLink = "/login" routerLinkActive="activebutton" class= "logo">Login</a></li>

      </ul>
    </nav>
  </div>
  -->

<body>
</body>
<router-outlet></router-outlet>